.register-container{
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  }
  .register-containerBlack{
    width: 100%;
    max-width: 2000px;
    height: 80vh;
    margin: 0 auto;
    background:	#000000;
    }
    .register-containerBlack .contentBlack{
      width: 100%;
      height: 90%;
      padding: 80px;
      box-shadow: 0 0 100px rgba(0,0,0,0.1);
      border-radius: 8px;
    
      display: flex;
      justify-content: space-between;
    }
.register-container .content1 {
  width: 100%;
  height: 90%;
  padding: 80px;
  background:#B0C4DE;
  box-shadow: 0 0 100px rgba(0,0,0,0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
}

.register-container .content1 section{
  width: 100%;
  max-width: 500px;
  background:#fff;
  padding-left: 2%;
}
.register-container .content1 sectionimg{
  width: 100%;
  max-width: 170px;
  background:#fff;
  padding-left: 2%;
}
.register-container .content1 section1{
  width: 100%;
  max-width: 500px;
  padding-left: 2%;
}

.register-container .content1 section h1{
  margin: 64px 0 32px;
  font-size: 30px;
}
.register-container .content1 section p{
  font-size: 14px;
  color: #737380;
  line-height: 32px;
}
.imglog{
  height:100;
}
.register-container .content2 {
  width: 100%;
  height: 90%;
  padding: 80px;
  background:#5F9EA0;
  box-shadow: 0 0 100px rgba(0,0,0,0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
}
.register-container .content2 section{
  width: 100%;
  max-width: 500px;
  background:#fff;
  padding-left: 2%;
}
.register-container .content2 sectionimg{
  width: 100%;
  max-width: 170px;
  background:#fff;
  padding-left: 2%;
}
.register-container .content2 section1{
  width: 100%;
  max-width: 500px;
  padding-left: 2%;
}

.register-container .content2 section h1{
  margin: 64px 0 32px;
  font-size: 30px;
}
.register-container .content2 section p{
  font-size: 14px;
  color: #737380;
  line-height: 32px;
}


.register-containerBlack .contentBlack sectionb{
  width: 100%;
  max-width: 500px;
  padding-left: 2%;
}

.register-containerBlack .contentBlack sectionb h1{
  margin: 64px 0 32px;
  font-size: 30px;
  color: #fff;
}
.register-containerBlack .contentBlack sectionb p{
  font-size: 14px;
  color: #fff;
  line-height: 32px;
}
.topo{
  padding-top: 70%;
}
.topo1{
  padding-top: 42%;
}
